<div class="col-md-12" ng-controller="TaskCtrl">
    <div class="col-md-4">
        <span>Enter Your Name</span>
        <input type="text" name="" class="form-control" ng-model="value.name" required>
        <button class="btn btn-primary" ng-click="verify(value)">ENTER</button>
    </div>
    <div class="col-md-12">
        <div id="chartdiv"></div>
    </div>
</div>
<style>
#chartdiv {
    width: 100%;
    height: 500px;
}
</style>
